<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'meta.html' %}
    <title>Email List</title>
</head>
<body>
    {% include 'header.html' %}
    <main class="p-5" style="background-color: rgba(102, 196, 208, 0.39); min-height: 100vh;">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h4 mb-0 text-gray-300 font-weight-bold">ADD NEW EMAIL</h1>
        </div>
        <div class="row card p-3">
            {% include 'alert.html' %}
            <form class="form-inline flex-wrap" action="/addEmail" method="POST">
                <div class="form-group mb-2">
                    <label for="name" class="sr-only">Password</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name (optional)">
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="email" class="sr-only">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com" required>
                </div>
                <button type="submit" class="btn btn-primary mb-2">+</button>
            </form>
            <hr id="up-hr" />
            <form action="/uploadEmails" method="POST" enctype="multipart/form-data">
                <div class="input-group">
                    <div class="custom-file">
                        <input 
                            type="file" 
                            class="custom-file-input" 
                            id="inputGroupFile04" 
                            name="emailfile" 
                            accept=".csv" 
                            required 
                            onchange="updateFileName(this)"
                        >
                        <label class="custom-file-label" for="inputGroupFile04">Choose CSV file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">Upload</button>
                        <a class="btn btn-danger" href="/getSampleFile">Download Sample(.csv)</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-4">
            <h1 class="h4 mb-0 text-gray-300 font-weight-bold">EMAIL LIST</h1>
        </div>
        <div class="row card p-3">
            <div class="table-responsive">
                <table id="dynamicTable" class="table display table-hover table-striped table-sm">
                    <thead id="dynamicHeader" class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>NAME</th>
                            <th>EMAIL ID</th>
                            <th>DROP</th>
                        </tr>
                    </thead>
                    <tbody id="email-data">
                        {% for item in email_data %}
                            <tr>
                                <td>{{loop.index}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.email}}</td>
                                <td><a class="btn btn-secondary btn-danger" href={{ url_for('deleteEmail', email=item.email) }} role="button"><i class="fa-regular fa-trash-can"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </main>
    {% include 'script.html' %}
    <script>
        $(document).ready(function() {
            $('#dynamicTable').DataTable({
                pageLength: 5
            });
        });

        function updateFileName(input) {
            const fileName = input.files[0]?.name || 'Choose CSV file';
            const label = input.nextElementSibling;
            label.textContent = fileName;
        }
    </script>
</body>
</html>
