<nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand lead" href="/">CTI - Search Engine <i class="fa-solid fa-ghost"></i></a>
      <div class="align-items-center">
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
          </button>
          <a class="btn btn-primary btn-sm" href="/logout" role="button">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
      </div>
      
      <div class="navbar-collapse collapse" id="navbars" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/email_list">Email List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/template">Email Templates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/getcampaign">Campaign Approval</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
        </ul>
      </div>
    </nav>