<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'meta.html' %}
    <title>Dashboard</title>
</head>
<body>
    {% include 'header.html' %}
    <main class="p-5" style="background-color: rgba(102, 196, 208, 0.39); min-height: 100vh;">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h4 mb-0 text-gray-300 font-weight-bold">DASHBOARD</h1>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">CVE COUNT</div>
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{cve_Counter}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-ghost fa-xl text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">CVE EMAIL SENT</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{cve_emailSentCount}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-bell fa-xl text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">GENERAL NEWS COUNT</div>
                                <div class="h7 mb-0 mr-3 font-weight-bold text-gray-800">{{news_Counter}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-newspaper fa-xl text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">NEWS EMAIL SENT</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-bell fa-xl text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow h-100 py-5 px-5 mb-4">
            <div class="d-flex justify-content-end mb-3">
                {% include 'alert.html' %}
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Toggle Table
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" onclick="showTable('cve')">CVE DATA</a>
                        <a class="dropdown-item" onclick="showTable('news')">NEWS DATA</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="dynamicTable" class="table display table-hover table-striped table-sm">
                    <thead id="dynamicHeader" class="thead-dark">
                        <tr>
                            <!-- Initial headers for CVE -->
                            <th>#</th>
                            <th>QUEUE STAT</th>
                            <th>CVE ID</th>
                            <th>CVE NAME</th>
                            <th>RELEASE DATE</th>
                            <th>SEVERITY</th>
                            <th>DESCRIPTION</th>
                            <th>LINK</th>
                        </tr>
                    </thead>
                    <tbody id="dynamicData">
                        <!-- Table rows will be dynamically populated here -->
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="notificationModalTitle">Notification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="notificationModalBody">
                <!-- Message content will be injected dynamically -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </main>

    {% include 'script.html' %}
    <script>
        function addToQueue(cveId, buttonElement) {
            $.ajax({
                url: "{{ url_for('addCVEQueue') }}",
                method: "GET",
                data: { cve_id: cveId },
                success: function (response) {
                    if (response.status === "success") {
                        showNotificationModal("Success", response.message);
                        const queueStatus = response.queue_status;
                        if (queueStatus === "0") {
                            $(buttonElement)
                                .removeClass("btn-danger btn-success")
                                .addClass("btn-primary")
                                .html('+ Queue')
                                .attr("onclick", `addToQueue('${cveId}', this)`);
                        } else if (queueStatus === "1") {
                            $(buttonElement)
                                .removeClass("btn-primary btn-success")
                                .addClass("btn-danger")
                                .html('<i class="fa-solid fa-xmark"></i> Remove')
                                .attr("onclick", `addToQueue('${cveId}', this)`);
                        } else if (queueStatus === "sent") {
                            $(buttonElement)
                                .removeClass("btn-primary btn-danger")
                                .addClass("btn-success")
                                .html('<i class="fa-solid fa-envelope"></i> Sent')
                                .removeAttr("onclick");
                        }
                    } else {
                        showNotificationModal("Error", response.message || "Failed to update the queue.");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                    showNotificationModal("Error", "An error occurred: " + error);
                },
            });
        }
        function addNewsToQueue(newsId, buttonElement) {
            $.ajax({
                url: "{{ url_for('addNewsQueue') }}",
                method: "GET",
                data: { news_id: newsId },
                success: function (response) {
                    if (response.status === "success") {
                        showNotificationModal("Success", response.message);
                        const queueStatus = response.queue_status;
                        if (queueStatus === "0") {
                            $(buttonElement)
                                .removeClass("btn-danger btn-success")
                                .addClass("btn-primary")
                                .html('+ Queue')
                                .attr("onclick", `addNewsToQueue('${newsId}', this)`);
                        } else if (queueStatus === "1") {
                            $(buttonElement)
                                .removeClass("btn-primary btn-success")
                                .addClass("btn-danger")
                                .html('<i class="fa-solid fa-xmark"></i> Remove')
                                .attr("onclick", `addNewsToQueue('${newsId}', this)`);
                        } else if (queueStatus === "sent") {
                            $(buttonElement)
                                .removeClass("btn-primary btn-danger")
                                .addClass("btn-success")
                                .html('<i class="fa-solid fa-envelope"></i> Sent')
                                .removeAttr("onclick");
                        }
                    } else {
                        showNotificationModal("Error", response.message || "Failed to update the queue.");
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                    showNotificationModal("Error", "An error occurred: " + error);
                },
            });
        }
        function showNotificationModal(title, message) {
            $("#notificationModalTitle").text(title);
            $("#notificationModalBody").text(message);
            $("#notificationModal").modal("show");
        }
    </script>
    <script>
        const cveData = {{ cve_data|tojson }};
        const newsData = {{ news_data|tojson }};
        function showTable(type) {
            const tableHeader = document.getElementById("dynamicHeader");
            const tableBody = document.getElementById("dynamicData");

            tableBody.innerHTML = "";

            if (type === "cve") {
                tableHeader.innerHTML = `
                    <tr>
                        <th>#</th>
                        <th>QUEUE STAT</th>
                        <th>CVE ID</th>
                        <th>CVE NAME</th>
                        <th>RELEASE DATE</th>
                        <th>SEVERITY</th>
                        <th>DESCRIPTION</th>
                        <th>LINK</th>
                    </tr>
                `;
                cveData.forEach((item, index) => {
                    const queueButton =
                        item.cve_queue_stat === "0"
                            ? `<a class="btn btn-primary btn-sm" href="javascript:void(0);" onclick="addToQueue('${item.cve_id}', this)" role="button"><i class="fa-solid fa-plus"></i> Queue</a>`
                            : item.cve_queue_stat === "1"
                            ? `<a class="btn btn-danger btn-sm" href="javascript:void(0);" onclick="addToQueue('${item.cve_id}', this)" role="button"><i class="fa-solid fa-xmark"></i> Remove</a>`
                            : `<a class="btn btn-success btn-sm" href="javascript:void(0);"><i class="fa-solid fa-envelope"></i> Sent</a>`;

                    const row = `
                        <tr>
                            <td>${index + 1}</td>
                            <td>${queueButton}</td>
                            <td>${item.cve_number}</td>
                            <td>${item.cve_name}</td>
                            <td>${item.cve_pubdate}</td>
                            <td>${item.cve_severity}</td>
                            <td>${item.cve_description}</td>
                            <td><a href="${item.cve_link}">${item.cve_link}</a></td>
                        </tr>
                    `;
                    tableBody.insertAdjacentHTML("beforeend", row);
                });
            } else if (type === "news") {
                tableHeader.innerHTML = `
                    <tr>
                        <th>#</th>
                        <th>QUEUE STAT</th>
                        <th>NEWS TITLE</th>
                        <th>RELEASE DATE</th>
                        <th>NEWS DESCRIPTION</th>
                        <th>NEWS LINK</th>
                    </tr>
                `;
                newsData.forEach((item, index) => {
                    const queueButton =
                        item.news_queue_stat === "0"
                            ? `<a class="btn btn-primary btn-sm" href="javascript:void(0);" onclick="addNewsToQueue('${item.news_id}', this)" role="button"><i class="fa-solid fa-plus"></i> Queue</a>`
                            : item.news_queue_stat === "1"
                            ? `<a class="btn btn-danger btn-sm" href="javascript:void(0);" onclick="addNewsToQueue('${item.news_id}', this)" role="button"><i class="fa-solid fa-xmark"></i> Remove</a>`
                            : `<a class="btn btn-success btn-sm" href="javascript:void(0);"><i class="fa-solid fa-envelope"></i> Sent</a>`;
                            
                    const row = `
                        <tr>
                            <td>${index + 1}</td>
                            <td>${queueButton}</td>
                            <td>${item.news_title}</td>
                            <td>${item.news_pubdate}</td>
                            <td>${item.news_description}</td>
                            <td><a href="${item.news_link}">${item.news_link}</a></td>
                        </tr>
                    `;
                    tableBody.insertAdjacentHTML("beforeend", row);
                });
            }
        }
        document.addEventListener("DOMContentLoaded", () => showTable("cve"));
    </script>
    <script>
        $(document).ready(function() {
            $('#dynamicTable').DataTable({
                pageLength: 5
            });
        });
    </script>
    
</body>
</html>
